<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LojaVirtual"
        tools:targetApi="31">
        <activity
            android:name=".viewmodel.PagamentoViewModelFactory"
            android:exported="false"
            android:label="@string/title_activity_pagamento_view_model_factory"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".repository.PagamentoREpository"
            android:exported="false"
            android:label="@string/title_activity_pagamento_repository"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".viewmodel.PagamentoViewModel"
            android:exported="false"
            android:label="@string/title_activity_pagamento_view_model"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".screens.PagamentoScreen"
            android:exported="false"
            android:label="@string/title_activity_pagamento_screen"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".viewmodel.EnderecoViewModelFactory"
            android:exported="false"
            android:label="@string/title_activity_endereco_view_model_factory"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".repository.DadosRepository"
            android:exported="false"
            android:label="@string/title_activity_dados_repository"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".model.EnderecoAPI"
            android:exported="false"
            android:label="@string/title_activity_endereco_api"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".screens.DetalhesPedidosScreen"
            android:exported="false"
            android:label="@string/title_activity_detalhes_pedidos_screen"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".screens.EnderecoScreen"
            android:exported="false"
            android:label="@string/title_activity_endereco_screen"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".viewmodel.EnderecoViewModel"
            android:exported="false"
            android:label="@string/title_activity_endereco_view_model"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".model.ViaCepResponse"
            android:exported="false"
            android:label="@string/title_activity_via_cep_response"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".network.ViaCepService"
            android:exported="false"
            android:label="@string/title_activity_via_cep_service"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".network.ViaCepRetrofitInstance"
            android:exported="false"
            android:label="@string/title_activity_via_cep_retrofit_instance"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".model.ApiResponse"
            android:exported="false"
            android:label="@string/title_activity_api_response"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".model.PedidoItemResponse"
            android:exported="false"
            android:label="@string/title_activity_pedido_item_response"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".model.Pedido"
            android:exported="false"
            android:label="@string/title_activity_pedido"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".viewmodel.PedidoViewModelFactory"
            android:exported="false"
            android:label="@string/title_activity_pedido_view_model_factory"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".model.ItemCarrinho"
            android:exported="false"
            android:label="@string/title_activity_item_carrinho"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".model.PedidoResponse"
            android:exported="false"
            android:label="@string/title_activity_pedido_response"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".model.ItemPedidoRequest"
            android:exported="false"
            android:label="@string/title_activity_item_pedido_request"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".viewmodel.ProdutoViewModelFactory"
            android:exported="false"
            android:label="@string/title_activity_produto_view_model_factory"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".viewmodel.UsuarioViewModel"
            android:exported="false"
            android:label="@string/title_activity_usuario_view_model"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".viewmodel.PedidoViewModel"
            android:exported="false"
            android:label="@string/title_activity_pedido_view_model"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".repository.PedidoRepository"
            android:exported="false"
            android:label="@string/title_activity_pedido_repository"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".model.PedidoRequest"
            android:exported="false"
            android:label="@string/title_activity_pedido_request"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".utils.CarrinhoDrawerContent"
            android:exported="false"
            android:label="@string/title_activity_carrinho_drawer_content"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".model.PedidoData"
            android:exported="false"
            android:label="@string/title_activity_pedido_data"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".model.Categoria"
            android:exported="false"
            android:label="@string/title_activity_categoria"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".viewmodel.ProdutoViewModel"
            android:exported="false"
            android:label="@string/title_activity_produto_view_model"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".repository.ProdutoRepository"
            android:exported="false"
            android:label="@string/title_activity_produto_repository"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".model.Produto"
            android:exported="false"
            android:label="@string/title_activity_produto"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".screens.PedidosScreen"
            android:exported="false"
            android:label="@string/title_activity_pedidos_screen"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".screens.CategoriasScreen"
            android:exported="false"
            android:label="@string/title_activity_categorias_screen"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".screens.ProdutosScreen"
            android:exported="false"
            android:label="@string/title_activity_produtos_screen"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".screens.HomeScreen"
            android:exported="false"
            android:label="@string/title_activity_home_screen"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".viewmodel.RedefinirSenhaViewModelFactory"
            android:exported="false"
            android:label="@string/title_activity_redefinir_senha_view_model_factory"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".viewmodel.RedefinirSenhaViewModel"
            android:exported="false"
            android:label="@string/title_activity_redefinir_senha_view_model"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".screens.RedefinirSenhaScreen"
            android:exported="false"
            android:label="@string/title_activity_redefinir_senha_screen"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".model.UsuarioResponse"
            android:exported="false"
            android:label="@string/title_activity_usuario_response"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".viewmodel.ui.theme.LoginViewModelFactory"
            android:exported="false"
            android:label="@string/title_activity_login_view_model_factory"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".network.UsuarioApiService"
            android:exported="false"
            android:label="@string/title_activity_usuario_api_service"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".utils.PhoneVisualTransformation"
            android:exported="false"
            android:label="@string/title_activity_phone_visual_transformation"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".viewmodel.CadastroViewModelFactory"
            android:exported="false"
            android:label="@string/title_activity_cadastro_view_model_factory"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".network.RetrofitInstance"
            android:exported="false"
            android:label="@string/title_activity_retrofit_instance"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".model.Usuario"
            android:exported="false"
            android:label="@string/title_activity_usuario"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".network.ApiService"
            android:exported="false"
            android:label="@string/title_activity_api_service"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".viewmodel.LoginViewModel"
            android:exported="false"
            android:label="@string/title_activity_login_view_model"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".viewmodel.CadastroViewModel"
            android:exported="false"
            android:label="@string/title_activity_cadastro_view_model"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".network.UsuarioCadastroRequest"
            android:exported="false"
            android:label="@string/title_activity_usuario_cadastro_request"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".network.UsuarioApi"
            android:exported="false"
            android:label="@string/title_activity_usuario_api"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".repository.UsuarioRepository"
            android:exported="false"
            android:label="@string/title_activity_usuario_repository"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".screens.CadastroScreen"
            android:exported="false"
            android:label="@string/title_activity_cadastro_screen"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".utils.Validator"
            android:exported="false"
            android:label="@string/title_activity_validator"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".screens.LoginScreen"
            android:exported="false"
            android:label="@string/title_activity_login_screen"
            android:theme="@style/Theme.LojaVirtual" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LojaVirtual">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>